
<nav class="nav-menu">
  <div class="nav-menu__container">
    <div class="nav-menu__header">
      <div class="nav-menu__title">Main Menu</div><a href="#close" id="menuToggleClose" class="nav-menu__close"><span><i class="fa fa-times"></i></span></a>
    </div>
    <div class="nav-menu__body">
      <ul class="nav-menu__list">
        <li class="nav-menu--is-mobile"><a href="#"><span>Explore</span></a></li>
        <li class="nav-menu--is-mobile"><a href="#"><span>Get Inspired</span></a></li>
        <li><a href="#"><span>About Trivett Bespoke</span></a></li>
        <li><a href="#"><span>My Functions</span></a></li>
        <li><a href="#"><span>Buy Bespoke</span></a></li>
        <li><a href="#"><span>My Finance</span></a></li>
        <li><a href="#"><span>My Service</span></a></li>
        <li><a href="#"><span>My Fleet</span></a></li>
        <li><a href="#"><span>My Accessories</span></a></li>
        <li>
          <ul class="nav-menu__list-secondary">
            <li><a href="#"><span>Contact &amp; Locations</span></a></li>
            <li><a href="#"><span>Social</span></a></li>
            <li><a href="#"><span>Careers</span></a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>