nav.nav-menu
    .nav-menu__container
        .nav-menu__header
            .nav-menu__title Main Menu
            a(href="#close").nav-menu__close#menuToggleClose
                span: i.fa.fa-times
        .nav-menu__body
            ul.nav-menu__list
                li.nav-menu--is-mobile: a(href="#"): span Explore
                li.nav-menu--is-mobile: a(href="#"): span Get Inspired
                li: a(href="#"): span About Trivett Bespoke
                li: a(href="#"): span My Functions
                li: a(href="#"): span Buy Bespoke
                li: a(href="#"): span My Finance
                li: a(href="#"): span My Service
                li: a(href="#"): span My Fleet
                li: a(href="#"): span My Accessories
                li
                    ul.nav-menu__list-secondary
                        li: a(href="#"): span Contact &amp; Locations
                        li: a(href="#"): span Social
                        li: a(href="#"): span Careers